.message {
    font: normal normal 500 16px/25px Poppins;
    text-align: center;
    padding: 15px;
}

.symbol {
    font-size: 85px;
    text-align: center;
}
.symbol-icon-error {
    color: #DB4437;
}

.symbol-icon-warning {
    color: #F4B400;
}

.symbol-icon-success {
    color: #0F9D58;
}